In [92]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sd_comp = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sd_comp.head(2918)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
2913,2913,Monica Barajas,F,9th,Huang High School,64,81,0,District,2917,1910635
2914,2914,Carlos Garner,M,12th,Huang High School,66,73,0,District,2917,1910635
2915,2915,April Williams,F,12th,Huang High School,70,85,0,District,2917,1910635
2916,2916,Karen Blevins,F,10th,Huang High School,82,73,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411

District Summary

- Calculate the total number of schools

- Calculate the total number of students

- Calculate the total budget

- Calculate the average math score

- Calculate the average reading score

- Calculate the percentage of students with a passing math score (70 or greater)

- Calculate the percentage of students with a passing reading score (70 or greater)

- Calculate the percentage of students who passed math and reading (% Overall Passing)

- Create a dataframe to hold the above results

- Optional: give the displayed data cleaner formatting

In [118]:
#Create variables for all calculations for District Summary:
#Calculate total number of schools
school_count = len(sd_comp["school_name"].unique())
#Calculate total number of students
student_count = len(sd_comp["student_name"])
#Calculate total budget (one budget amount per school)
    #sums budget of every student in a given school
budgetperschool = sd_comp.groupby("school_name")["budget"].sum()
    #counts every student in each school
studentperschool = sd_comp.groupby("school_name")["student_name"].count()
    #calculates actual budget per school in a list
budgetbyschool = budgetperschool/studentperschool
    #sums all school budgets
budget = budgetbyschool.sum()
#calculate average math and reading scores
avgmath = sd_comp["math_score"].mean()
avgread = sd_comp["reading_score"].mean()
#calculate passing grades
    #calculate total passes per subject
passmath = sd_comp.query("math_score>=70")["math_score"].count()
passread = sd_comp.query("reading_score>=70")["reading_score"].count()
    #calculate pass percent by subject
ppercmath = passmath/student_count
ppercread = passread/student_count
    #calculate students who passed both subjects
passboth = sd_comp.query("math_score>=70 and reading_score >=70")["reading_score"].count()
    #calculate percent who passed both subjects
ppercboth = passboth/student_count

In [119]:
#Create data table for Disrict Summary
DisSumm = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": [student_count],
                           "Total Budget": budget,
                           "Average Math Score": avgmath,
                            "Average Reading Score": avgread,
                           "% Passing Math": ppercmath,
                           "% Passing Reading":ppercread,
                           "% Overall Passing": ppercboth})
DisSumm.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,0.749809,0.858055,0.651723

School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [125]:
## define additional variables
# group school types into each school name THINK IF THERE IS A BETTER WAY
typea = sd_comp.groupby("school_name")["type"].unique()
# group the average math and reading scores by school name
mathmean = sd_comp.groupby("school_name")["math_score"].mean()
readmean = sd_comp.groupby("school_name")["reading_score"].mean()
# perform a list comprehension where:
    # for each student in the dataframe, if the math score (or reading score) is >=70, assign a "1". If not, assign a "0"
mathflag = [1 if x>=70 else 0 for x in sd_comp["math_score"]]
readflag = [1 if x>=70 else 0 for x in sd_comp["reading_score"]]
# zip together the math and reading passing flags
overallzip = zip(mathflag,readflag)
# create an empty list flag that will hold a "1" if a student passed both subjects or else a "0"
overallflag = []
# review the zipped flag list and if the student passed math (1) and reading (1) (1+1=2), add a "1" to the overall flag list, or else and a "0"
for x,y in overallzip:
    if (x + y) == 2:  
        overallflag.append(1)
    else: overallflag.append(0)
# create a new dataframe that will hold the three flags created called overall_table as a copy of the original dataframe
overall_table = sd_comp.copy()
# add three new columns
overall_table["Pass_Math"]= mathflag
overall_table["Pass_Reading"]= readflag
overall_table["Pass_Both"]= overallflag
# since each student who passed mth/reading/both will have a 1 in the respective column, group by school name and sum
passmsch = overall_table.groupby("school_name")["Pass_Math"].sum()
passrsch = overall_table.groupby("school_name")["Pass_Reading"].sum()
passosch = overall_table.groupby("school_name")["Pass_Both"].sum()

# displays new dataframe for reference
overall_table.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Pass_Math,Pass_Reading,Pass_Both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,1,0,0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,0,1,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,0,1,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,0,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,1,1,1

In [126]:
SchoolSumm = pd.DataFrame({ "School Type": typea,
                            "Total Students": studentperschool,
                            "Total School Budget": budgetbyschool,
                            "Per Student Budget": budgetbyschool/studentperschool,
                            "Average Math Score": mathmean,
                            "Average Reading Score":readmean,
                            "% Passing Math": passmsch/studentperschool, 
                            "% Passing Reading":passrsch/studentperschool,
                            "% Overall Passing":passosch/studentperschool
})
SchoolSumm.head(15)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,[Charter],1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,[District],2739,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,[Charter],1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,[Charter],427,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,[District],2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,[Charter],962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,[Charter],1761,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,[Charter],1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,[Charter],2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,[Charter],1800,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

Top Performing Schools (By % Overall Passing)

* Create a table that highlights the top 5 performing schools based on % Overall Passing. Include:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [127]:
# Copy the overall_table above
top_schools = SchoolSumm.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'