In [65]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sd_comp = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sd_comp.head(2918)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
2913,2913,Monica Barajas,F,9th,Huang High School,64,81,0,District,2917,1910635
2914,2914,Carlos Garner,M,12th,Huang High School,66,73,0,District,2917,1910635
2915,2915,April Williams,F,12th,Huang High School,70,85,0,District,2917,1910635
2916,2916,Karen Blevins,F,10th,Huang High School,82,73,0,District,2917,1910635
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411

District Summary

- Calculate the total number of schools

- Calculate the total number of students

- Calculate the total budget

- Calculate the average math score

- Calculate the average reading score

- Calculate the percentage of students with a passing math score (70 or greater)

- Calculate the percentage of students with a passing reading score (70 or greater)

- Calculate the percentage of students who passed math and reading (% Overall Passing)

- Create a dataframe to hold the above results

- Optional: give the displayed data cleaner formatting

In [104]:
#Create variables for all calculations for District Summary:
#Calculate total number of schools
school_count = len(sd_comp["school_name"].unique())
#Calculate total number of students
student_count = len(sd_comp["student_name"])
#Calculate total budget (one budget amount per school)
    #sums budget of every student in a given school
budgetperschool = sd_comp.groupby("school_name")["budget"].sum()
    #counts every student in each school
studentperschool = sd_comp.groupby("school_name")["student_name"].count()
    #calculates actual budget per school in a list
budgetbyschool = budgetperschool/studentperschool
    #sums all school budgets
budget = budgetbyschool.sum()
#calculate average math and reading scores
avgmath = sd_comp["math_score"].mean()
avgread = sd_comp["reading_score"].mean()
#calculate passing grades
    #calculate total passes per subject
passmath = sd_comp.query("math_score>=70")["math_score"].count()
passread = sd_comp.query("reading_score>=70")["reading_score"].count()
    #calculate pass percent by subject
ppercmath = passmath/student_count
ppercread = passread/student_count
    #calculate students who passed both subjects
passboth = sd_comp.groupby("math_score")["reading_score"].count()
    #calculate percent who passed both subjects
passb = passboth.query("math_score >= 70")["reading_score"].sum()
ppercboth = passboth/student_count
print(passb)

AttributeError: 'Series' object has no attribute 'query'

In [94]:
#Create data table for Disrict Summary
DisSumm = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": [student_count],
                           "Total Budget": budget,
                           "Average Math Score": avgmath,
                            "Average Reading Score": avgread,
                           "% Passing Math": ppercmath,
                           "% Passing Reading":ppercread,
                           "% Overall Passing": ppercboth ,})
DisSumm.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,0.749809,0.858055,0.858055